*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'UnifrakturCook', cursive;
}



body{
    background: #222;
}




.nav{
    background-color: blanchedalmond;
    /* border: 0.5px black solid; */
    box-shadow: 3px 3px 10px rgb(84, 82, 82);

    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav_menu{
    width:37vw;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 550;
    font-size: 1.5vw;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.nav_item{
    position: relative;

}

.nav_item::after{
    content: "";
    position:absolute;
    background-color: #514012;
    height: 3px;
    width: 0;
    left:0;
    bottom: -10px;
    transition: all 0.5s ease;

}

.nav_item:hover::after{
    width:100%;
}


a{
    text-decoration: none;
    color: inherit;
}

.logo{
    padding: 0.5em;
    
    width:22vw;
   
    /* text-align: center; */
    /* font-size: 1.5rem; */

    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

#logo1{
    height: 10vh;
    width: auto;
}

.cardbox{
    /* margin-top: 10vh; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin:5vh 0;
    

}

.content{
    background-image: linear-gradient(to bottom right, #F0F, #F00);
    height: 300vw;
    width: 100vw;
    padding-top: 10vh;
}

.cards{
    width:18vw;
    height:26vw;
    
    /* border:1px black solid; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* glass css */

    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 4px 30px rgba(0,0,0,0.55);
    backdrop-filter: blur(10px);


}

.char_name{
    margin-top: 5vw;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    
}

.char_pp{
        width: 14vw;
        height: 14vw;

        border-radius: 100%;
        /* background-color: bisque; */
        background-color: rgba(255, 255, 255, 0.1);
            box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.55);
            backdrop-filter: blur(10px);
            border:1px rgba(255,255,255,0.5) solid;

}


.g_container{

    position:relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-template-rows:  minmax(100px, auto);
    margin:40px;
    grid-auto-flow: dense;
    grid-gap:10px;
}

.g_box{
    
    background: #333;
    padding: 20px;
    display: grid;
    font-size: 20px;
    place-items: center;
    /* align-items:center; */
    transition:0.5s;
    color:#fff;
}

.g_box:hover{
    background: #e91e63;

}

.g_box img
{
    position: relative;
    max-width: 360px;
    
}

.g_box:nth-child(2)
{
    grid-column: span 2;
}

.g_box:nth-child(1) {
    grid-row: span 2;
}

.g_box:nth-child(6) {
    grid-column: span 2;
}
/* 
.g_content{
    width:100%;
} */

.g_content p{
    color: #fff;
}


@media (max-width:991px)
{
    .g_container{
        position: relative;
            max-width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            grid-template-rows: minmax(100px, auto);
            margin: 40px;
            grid-auto-flow: dense;
            grid-gap: 10px;
    }
}

@media screen and (max-width: 600px) {
    .nav_menu a:not(:first-child) {
        display: none;
    }

    /* .topnav a.icon {
        float: right;
        display: block;
    } */
}


